---
import { Fragment } from "astro/jsx-runtime";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    
    <script type="module">
      const supportedLangs = ["en", "id"];
      const userLang = navigator.language.slice(0, 2).toLowerCase();

      const lang = supportedLangs.includes(userLang) ? userLang : "en";
      window.location.replace(`/${lang}/`);
    </script>
  </head>
  <body>
    
  </body>
</html>